/* line 1, E:/Projects/Four Squares/sass/pages/_home.scss */
body {
  margin: 0;
}

/* line 9, E:/Projects/Four Squares/sass/pages/_home.scss */
input:focus, button:focus {
  outline: none;
}

/* line 17, E:/Projects/Four Squares/sass/pages/_home.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* line 27, E:/Projects/Four Squares/sass/pages/_home.scss */
.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* line 38, E:/Projects/Four Squares/sass/pages/_home.scss */
#background {
  width: 100vw;
  height: 100vh;
  background: #332d2d;
}

/* line 46, E:/Projects/Four Squares/sass/pages/_home.scss */
.row {
  display: block;
  width: 100%;
  font-size: 0px;
}

/* line 53, E:/Projects/Four Squares/sass/pages/_home.scss */
.full-box {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.199);
  border-radius: 20px;
}

/* line 58, E:/Projects/Four Squares/sass/pages/_home.scss */
.full-box #count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9991;
  margin: 0px;
  color: white;
  font-family: Roboto;
  cursor: pointer;
  user-select: none;
  pointer-events: none;
  text-align: center;
}

/* line 80, E:/Projects/Four Squares/sass/pages/_home.scss */
.full-box button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 25px;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  border: none;
  background-color: black;
  color: white;
  padding: 5px 6px 7px 5px;
}

/* line 101, E:/Projects/Four Squares/sass/pages/_home.scss */
.hide {
  display: none;
}

/* line 107, E:/Projects/Four Squares/sass/pages/_home.scss */
.box {
  display: inline-block;
  width: 40vh;
  height: 40vh;
  cursor: pointer;
}

/* line 118, E:/Projects/Four Squares/sass/pages/_home.scss */
.listening:active {
  filter: brightness(150%);
}

/* line 126, E:/Projects/Four Squares/sass/pages/_home.scss */
.active {
  filter: brightness(150%);
}

/* line 132, E:/Projects/Four Squares/sass/pages/_home.scss */
#red {
  border-radius: 20px 0 0 0;
  background-color: #be4335;
}

/* line 141, E:/Projects/Four Squares/sass/pages/_home.scss */
#blue {
  border-radius: 0 20px 0 0;
  background-color: #2c78ac;
}

/* line 148, E:/Projects/Four Squares/sass/pages/_home.scss */
#green {
  border-radius: 0 0 0 20px;
  background-color: #239954;
}

/* line 155, E:/Projects/Four Squares/sass/pages/_home.scss */
#yellow {
  border-radius: 0 0 20px 0;
  background-color: #c2a813;
}

/* line 9, E:/Projects/Four Squares/sass/components/_checkmark.scss */
.circle-loader {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: white;
  animation: loader-spin 1.2s infinite linear;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* line 20, E:/Projects/Four Squares/sass/components/_checkmark.scss */
.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

/* line 27, E:/Projects/Four Squares/sass/components/_checkmark.scss */
.checkmark {
  display: none;
}

/* line 30, E:/Projects/Four Squares/sass/components/_checkmark.scss */
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

/* line 37, E:/Projects/Four Squares/sass/components/_checkmark.scss */
.checkmark:after {
  opacity: 1;
  height: 50%;
  width: 25%;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 25%;
  top: 50%;
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 25%;
    opacity: 1;
  }
  40% {
    height: 50%;
    width: 25%;
    opacity: 1;
  }
  100% {
    height: 50%;
    width: 25%;
    opacity: 1;
  }
}

/*# sourceMappingURL=../css/main.map */